@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin:0;border:none;padding:0;font-family:'Roboto','Noto Sans KR',sans-serif;}

.clearfix::after{content:'';display:block;clear:both;}
img{vertical-align:top;width:100%;}
ul,ol,li{list-style:none;padding:0;}
a{text-decoration:none;color:#fff;}

.section{padding:50px 0 100px;}
.container{width:1100px;margin:0 auto;}
.sec_tit{font-size:2rem;font-weight:normal;}
.txt_large{font-size:2rem;}
.txt_medium{font-size:1.6rem;}
.txt_small{font-size:0.8rem;}


/* 스킵메뉴 */
.skip_menu{background-color:#503396;text-align:center;position:fixed;left:0;top:-300px;width:100%;}
.skip_menu a{display:inline-block;margin:10px;border:2px solid transparent;border-radius:5px;padding:10px 16px;outline:none;color:#ffffff;font-weight:bold;}
.skip_menu a:focus{border-color:#ffffff;}
.skip_menu.active{top:0;}

/* 배너 */
.banner01{background-color:#4f79a9;position:relative;}
.banner01 #banner01_close{position:absolute;right:0;bottom:0;padding:5px;background-color:#999999;color:#ffffff;outline:none;border:none;}

/* 헤더 & 박스오피스 */
.wrap_top{background:#000;position:relative;}
.wrap_top .bg_img{opacity:.1;position:relative;}
.bg_img img{filter:blur(40px);}
.wrap_top .bg_img::after{content:'';display:block;width:100%;position:absolute;left:0;top:0;background-image:url('../images/patten.png');}


/* 헤더 */
.header{width:100%;height:90px;border-bottom:2px solid #999;padding-top:10px;position:absolute;left:0;top:0;background:rgba(0,0,0,.2);z-index:10;}
.header .container{height:100%;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;}
.header .container .logo{order:2;}
.nav{height:100%;display:flex;flex-flow:column nowrap;justify-content:space-between;}
.header .container .header_left{order:1;width:400px;}
.small_nav ul{display:flex;flex-flow:row nowrap;justify-content:flex-start;}
.small_nav ul li{margin:0 10px;}
.small_nav ul li:first-child{margin-left:0;}
.small_nav ul li:last-child{margin-right:0;}
.small_nav ul li a{font-weight:100;font-size:0.8rem;}
.header .container .header_right{order:3;width:400px;}
.header_right .small_nav ul{justify-content:flex-end;}
.large_nav{display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;}
.img_nav a,.nav_list li{display:inline-block;width:auto;}
.img_nav a{margin:0 6px;}
.img_nav a:first-child{margin-left:0;}
.img_nav a:last-child{margin-right:0;}
.nav_list>ul>li{margin:0 20px;position:relative;}
.nav_list>ul>li::after{content:'';display:block;width:100%;height:4px;background:transparent;position:absolute;left:0;bottom:-13px;}
.nav_list>ul>li:hover::after{background:#fff;}
    /* 서브내비 */
.nav_list>ul>li>ul{width:19vw;padding:20px 0;background:rgba(0,0,0,.2);position:fixed;left:20%;top:172px;flex-flow:row nowrap;text-align:center;display:none;}
.nav_list>ul>li:hover>ul{display:flex;}
.nav_list>ul>li>ul>li{margin:0 10px;}
.nav_list>ul>li>ul>li a{font-size:1rem;}
.nav_list li a{font-size:1.2rem;}
#mymega{position:relative;width:20px;}
#mymega img{position:absolute;right:0;top:-8px;}
.header_right .large_nav .img_nav{order:2;}
.header_right .large_nav .nav_list{order:1;}
/* .header_right .large_nav .nav_list>ul>li>ul{right:20%;} */
.header_left .large_nav {padding-bottom:7px;}

/* 박스오피스 */
.box_office{width:100%;position:absolute;left:0;top:102px;z-index:5;}
.box_office .sec_tit{width:5rem;margin:0 auto 30px;padding-bottom:20px;border-bottom:1px solid #fff;font-size:1rem;color:#fff;text-align:center;}
.box_office .swiper-container .swiper-slide{width:250px;}
.box_office .poster_img{position:relative;border-radius:10px;overflow:hidden;}
.box_office .poster_top{box-sizing:border-box;width:100%;padding:16px;position:absolute;left:0;top:0;}
.box_office .poster_top .number{float:left;font-size:2rem;font-style:italic;color:#fff;text-shadow:2px 2px 4px #000;}
.box_office .poster_top .dolby_mx{float:right;}
.box_office .dolby_img,.box_office .mx_img{display:inline-block;border-radius:5px;padding:8px;background:rgba(0,0,0,.4);}
.dolby_img.hide,.box_office .mx_img.hide{display:none;}
.box_office .over_cont{box-sizing:border-box;width:100%;height:100%;position:absolute;left:0;top:0;padding:30px 20px;background:rgb(42, 21, 90,.5);color:rgba(255,255,255,.8);display:flex;flex-flow:column nowrap;justify-content:space-between;opacity:0;transition:.3s;}
.poster_img:hover .over_cont{opacity:1;}
.box_office .over_cont p{line-height:1.4rem;text-align:justify;}
.over_cont_bottom .line{height:1px;background:rgba(255,255,255,.3);z-index:-333333px;}
.over_cont_bottom .movie_score{display:flex;justify-content:center;align-items:center;margin-top:25px;}
.movie_score p{font-size:1.3rem;padding-left:20px;}
.movie_score p.score{font-size:2rem;color:#037b94;font-style:italic;}

.box_office .poster_btn{display:flex;flex-flow:row nowrap;margin-top:10px;}
.poster_btn .good,.poster_btn .ticket{border-radius:5px;padding:10px;color:#fff;text-align:center;cursor:pointer;}
.poster_btn .good{flex:1;background:#000;margin-right:10px;}
.poster_btn .good p,.poster_btn .good .bg_good{display:inline-block;}
.poster_btn .good p{padding-left:8px;}
.poster_btn .good .bg_good{width:17px;height:15px;text-indent:-99999px;background:url('../images/heart_toggle.png') no-repeat right center;}
.poster_btn .ticket{flex:2;background:#037b94;}

.box_office_nav{margin:60px 0 20px;padding:30px 0;background:rgba(0,0,0,.4);}
.box_office_nav>div{box-sizing:border-box;width:25%;height:30px;float:left;border-right:1px solid rgba(255,255,255,.5);text-align:center;}
.box_office_nav>div.quick_ticket{border-right:none;}
.box_office_nav>div>input,.box_office_nav>div>a{line-height:30px;}
.box_office_nav .movie_search>input{outline:none;background:transparent;border-bottom:1px solid #999;background:url('../images/search_white.png') no-repeat right;}
.box_office_nav .time_table>a{display:inline-block;width:110px;background:url('../images/schedule_white.png') no-repeat left;text-align:right;}
.box_office_nav .office_box>a{display:inline-block;width:110px;background:url('../images/boxoffice_main.png') no-repeat left;text-align:right;}
.box_office_nav .quick_ticket>a{display:inline-block;width:100px;background:url('../images/quick_reserve_main.png') no-repeat left;text-align:right;}
.move_btn{width:16px;height:100px;margin:0 auto;position:relative;}
.move_btn img{position:absolute;left:0;top:0;animation:loop_mouse 1s ease-in-out;animation-iteration-count:infinite;}
@keyframes loop_mouse{0%{top:0px;}20%{top:0px;}50%{top:50px;}80%{top:0px;}100%{top:0px;}}

/* benefit */
.benefit{background:rgba(255,255,255,.8);}
.benefit .sec_tit{color:#503396;margin-bottom:16px;}
.benefit_top_left{float:left;width:670px;}
.benefit_slider01{float:left;width:48%;}
.benefit_slider02{float:right;width:48%;}
.benefit_banner01{float:left;width:64%;}
.benefit_banner02{float:right;width:32%;}
.benefit_top_right{float:right;width:400px;}
