@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin:0;border:none;padding:0;font-family:'Roboto','Noto Sans KR',sans-serif;}

.clearfix::after{content:'';display:block;clear:both;}
img{vertical-align:top;width:100%;}
ul,ol,li{list-style:none;padding:0;}
a{text-decoration:none;color:#fff;}

.section{padding:50px 0 100px;}
.container{width:1100px;margin:0 auto;}
.sec_tit{font-size:2rem;font-weight:normal;}
.txt_large{font-size:2rem;}
.txt_medium{font-size:1.6rem;}
.txt_small{font-size:0.8rem;}


/* 스킵메뉴 */
.skip_menu{background-color:#2a155a;text-align:center;position:fixed;left:0;top:-300px;width:100%;}
.skip_menu a{display:inline-block;margin:10px;border:2px solid transparent;border-radius:5px;padding:10px 16px;outline:none;color:#ffffff;font-weight:bold;}
.skip_menu a:focus{border-color:#ffffff;}
.skip_menu.active{top:0;}

/* 배너 */
.banner01{background-color:#4f79a9;position:relative;}
.banner01 #banner01_close{position:absolute;right:0;bottom:0;padding:5px;background-color:#999999;color:#ffffff;outline:none;border:none;}

/* 헤더 & 박스오피스 */
.wrap_top{background:#000;position:relative;}
.wrap_top .bg_img{opacity:.1;position:relative;}
.bg_img img{filter:blur(40px);}
.wrap_top .bg_img::after{content:'';display:block;width:100%;position:absolute;left:0;top:0;background-image:url('../images/patten.png');}


/* 헤더 */
.header{width:100%;height:90px;border-bottom:2px solid #999;padding-top:10px;position:absolute;left:0;top:0;background:rgba(0,0,0,.2);z-index:10;}
.header .container{height:100%;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;}
.header .container .logo{order:2;}
.nav{height:100%;display:flex;flex-flow:column nowrap;justify-content:space-between;}
.header .container .header_left{order:1;width:400px;}
.small_nav ul{display:flex;flex-flow:row nowrap;justify-content:flex-start;}
.small_nav ul li{margin:0 10px;}
.small_nav ul li:first-child{margin-left:0;}
.small_nav ul li:last-child{margin-right:0;}
.small_nav ul li a{font-weight:100;font-size:0.8rem;}
.header .container .header_right{order:3;width:400px;}
.header_right .small_nav ul{justify-content:flex-end;}
.large_nav{display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;}
.img_nav a,.nav_list li{display:inline-block;width:auto;}
.img_nav a{margin:0 6px;}
.img_nav a:first-child{margin-left:0;}
.img_nav a:last-child{margin-right:0;}
.nav_list>ul>li{margin:0 20px;position:relative;}
.nav_list>ul>li::after{content:'';display:block;width:100%;height:4px;background:transparent;position:absolute;left:0;bottom:-13px;}
.nav_list>ul>li:hover::after{background:#fff;}
    /* 서브내비 */
.nav_list>ul>li>ul{width:19vw;padding:20px 0;background:rgba(0,0,0,.2);position:fixed;left:20%;top:172px;flex-flow:row nowrap;text-align:center;display:none;}
.nav_list>ul>li:hover>ul{display:flex;}
.nav_list>ul>li>ul>li{margin:0 10px;}
.nav_list>ul>li>ul>li a{font-size:1rem;}
.nav_list li a{font-size:1.2rem;}
#mymega{position:relative;width:20px;}
#mymega img{position:absolute;right:0;top:-8px;}
.header_right .large_nav .img_nav{order:2;}
.header_right .large_nav .nav_list{order:1;}
/* .header_right .large_nav .nav_list>ul>li>ul{right:20%;} */
.header_left .large_nav {padding-bottom:7px;}

/* 박스오피스 */
.box_office{width:100%;position:absolute;left:0;top:102px;z-index:5;}
.box_office .sec_tit{width:5rem;margin:0 auto 30px;padding-bottom:20px;border-bottom:1px solid #fff;font-size:1rem;color:#fff;text-align:center;}
.box_office .poster_img{position:relative;}
.box_office .poster_top{width:100%;position:absolute;left:0;top:0;}
.box_office .poster_top .number{float:left;}
.box_office .poster_top .dolby_mx{float:right;}
.box_office .dolby_img,.box_office .mx_img{display:inline-block;}
.box_office .over_cont{width:100%;position:absolute;left:0;top:0;display:none;}

.nav_list li>ul{display:none;}
